@font-face {
  font-family: 'RedactedScript-Regular';
  src: url('../fonts/RedactedScript-Regular.eot');
  src: url('../fonts/RedactedScript-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/RedactedScript-Regular.woff') format('woff'),
  url('../fonts/RedactedScript-Regular.ttf') format('truetype'),
  url('../fonts/RedactedScript-Regular.svg#RedactedScript-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}

*, body {
  font-family: 'RedactedScript-Regular', sans-serif !important;
}
